
.flex-wrap {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: var(--align-item,flex-end);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  gap: 1rem;
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

button{
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1.5rem;
}

  button:hover {
    border-color: #fffffd;
  }
  
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

.btn-descount {
  min-width: clamp(5rem, 4.091rem + 4.55vw, 7.5rem);
  min-height: clamp(5rem, 4.091rem + 4.55vw, 7.5rem);
  font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
  font-weight: 600;
  background: linear-gradient(45deg, #cd193a, #df3b13);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

}

.btn-calcular{
    background: rgb(0, 136, 248);
    
    outline: none;
}

.btn-reset{
  background: linear-gradient(45deg, #cd193a, #df3b13);
}

.graphic{
  flex-basis: 0;
    flex-grow: 1;
    min-inline-size: 24rem;
}

@media (max-width:720px){
  .graphic{
      min-inline-size: 20rem;
  }
}


@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #bbe20a;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  
  .full-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
  }

  .container{
  max-width: 75rem;
  margin: auto;
  padding: 0 1rem;
  }

  .target-discount{
    position: relative;
  }

  .percentage{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: .3rem;
  }
  .percentage-word{
    font-style: italic;
    color: yellow;
  }